@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*@import './styles/dashboard.css';*/

* {
  font-family: Roboto, sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.875rem;
}
